<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThucHanh1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ThucHanh1.Properties.Settings.cnnStr" connectionString="Data Source=LAPTOP-QHAH49DL\SQLEXPRESS01;Initial Catalog=QLHocSinh;Integrated Security=True;Encrypt=False" />
    </connectionStrings>
    <userSettings>
        <ThucHanh1.Properties.Settings>
            <setting name="cnnStr2" serializeAs="String">
                <value />
            </setting>
        </ThucHanh1.Properties.Settings>
    </userSettings>
</configuration>